/* @import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-color: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

body {
  /* font-size: 12px; 
  background: var(--background-color);
  min-height: 100vh;
  display: flex;
  font-family: "Kumbh Sans", sans-serif;
}

main {
  max-width: 90%;
  background-color: #fff;
  margin: 9rem auto;
  width: 375px;
  border-radius: 2rem;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.233);
  /* -1px 9px 20px 9px rgba(0, 0, 0, 0.233); 
  padding: 1.5rem;
  padding-bottom: 4rem;
}
.imgs {
  position: relative;
  padding: 3.5rem;
}

.main-img {
  position: absolute;
  top: -8.6rem;
  left: 4%;
}

.bottom-img {
  position: absolute;
  top: -1.5rem;
  left: 14%;
}

.answer {
  /* display: none; 
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: xx-large;
  margin-bottom: 2rem;
}

hr{
   color: hsl(240, 5%, 91%);
}

.items {
  padding: 1.4rem 0;
}
.question {
  display: flex;
  justify-content: space-between;
}

.question::after {
  content: url(images/icon-arrow-down.svg);
}

/* 
input:checked{
  background-color: red;
} 

input:checked .question {
  height: 50px;
  width: 50px;
}

.question:hover{
     color:hsl(14, 88%, 65%)
}
input[type="radio"] {
  /* display: none; 
} */


:root{
    --verydarkBlue-color: hsl(238, 29%, 16%);
    --softRed-color: hsl(14, 88%, 65%);
    --verydarkgrayishblue: hsl(237, 12%, 33%);
    --darkgrayishblue: hsl(240, 6%, 50%);
}

body{
    background: linear-gradient(to bottom, hsl(273, 75%, 66%),hsl(240, 73%, 65%)) no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

*{
    font-family: 'Kumbh Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
}
span.accordion-item{
    font-size: 12px;
    line-height: 16px;
    color: var(--darkgrayishblue);
}

.card{
    min-height: 510px;
    max-width: 920px;
    width: 100%;
    background-color: white;
    border-radius: 2rem;
    position: relative;
    margin-left: 40px;
}
.section{
    display: flex;
    min-height: 510px;
    max-width: 920px;
    width: 100%;
}

.image-section{
    width: 45%;
    background: url("./images/illustration-woman-online-desktop.svg") right no-repeat;
}

.text-section{
    padding: 4.5rem 6.2rem 4.5rem 5.4rem;
    width: 60%;
}

.card img.box-img{
    position: absolute;
    top: 40%;
    left: -10%;
}

h1{
    margin-bottom: 1.3rem;
    color: var(--verydarkBlue-color);
}

span.heading{
    font-size: 14px;
    font-weight: 400;
    color: var(--verydarkgrayishblue);
}

.accordion-container{
    display: block;
    padding:1.1rem 0 1rem;
    border-bottom: 1px solid hsl(240, 44%, 90%);
    cursor: pointer;
}

.accordion-item{
    margin-top: 1rem;
    display: none;
}

.accordion-container span.heading:active{
    color: var(--softRed-color);
 }

.accordion-button{
     visibility: hidden;
     height: 0;
     width: 0;
     position: absolute;
 }

input:checked + span span.heading{
    font-weight: bold;
}
input:checked + span span.accordion-item{
    display: block;
}
span.heading{
    display: flex;
    justify-content: space-between;
}
span.accordion-content span.heading::after{
    content: url("./images/icon-arrow-down.svg");
    padding: 0 0.5rem;
    transition: transform 0.2s;
}
input:checked + span span.heading::after{
    transform: rotate(-180deg);
}

@media screen and (max-width:768px){
    .card{
        margin: 125px 2rem 0;
    }
    .section{
        display: block;
        position: relative;
    }
    .image-section{
        min-height: 225px;
        position: absolute;
        top: -111px;
        width: 100%;
        background: url("./images/illustration-woman-online-mobile.svg") no-repeat;
        z-index: 10;
    }
    .box-img{
        display: none;
    }
    
    .text-section{
        padding: 125px 1.5rem 2rem;
        width: 100%;
    }  
    .text-section h1{
        text-align: center;
    }

}