* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}


/* header  */

header {
    padding: 2rem 3rem;
}

header div {
    font-size: large;
}


/* main  */

main {
    margin: 2rem 10% 3rem;
    max-width: 80%;
    display: flex;
}

main section {
    padding: 1rem;
}

.hero-img {
    width: 596px;
}

.heading {
    font-size: 4.5rem;
    line-height: 1.3;
}

.secondary-txt {
    font-size: 1.2rem;
}

.primary-btn {
    outline: none;
    background-color: #333;
    border: none;
    cursor: pointer;
    margin: 2rem 0;
    padding: 1.5rem 2rem;
}

.primary-btn a {
    text-decoration: none;
    color: #fff;
    font-size: larger;
}


/* footer */

footer {
    margin-bottom: 2rem;
}

footer p {
    text-align: center;
}

@media screen and (max-width: 1300px) {
    .hero-img {
        width: 415px;
    }
    .heading {
        font-size: 3.5rem;
        line-height: 1.3;
    }
}

@media screen and (max-width: 800px) {
    main {
        margin: 2rem 5% 5rem;
        gap: 3rem;
        flex-direction: column;
    }
    main section {
        padding: 0;
        width: 380px;
    }
    .hero-img {
        padding: 1rem;
        width: 400px;
    }
    .heading {
        font-size: 46px;
        line-height: 1.3;
        letter-spacing: 1px;
        margin-bottom: 2rem;
    }
}